@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root {
	--color-black: #000000;
	--color-white: #ffffff;
	--color-bg: #e2e2e2;
	--color-btn: #a6b1ff;
	--main-font: Outfit;
	--sub-font: Roboto;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--color-bg);
	font-family: var(--main-font);
}

.container {
	width: calc(100% - 2rem);
	max-width: 70rem;
	margin: 0 auto;

	@media (min-width: 768px) {
		width: calc(100% - 4rem);
	}
}
